{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>D&D FITNESS</title>
    <link rel="stylesheet" href="{% static 'fitness/css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
</head>

<body>
    <section class="principal">
        <header class="header">

            <h1 class="nome">D<span>&</span>D<br>
                <span class="fitness">Fitness</span>
            </h1>

            <nav class="nav">
                <h2 class="h2-inicio">Início</h2>
                <h2 class="h2-sobre">Sobre</h2>
                <h2 class="h2-beneficios">Benefícios</h2>
                <h2 class="h2-funciona">Como funciona</h2>
                <h2 class="h2-treino">Treinos</h2>
            </nav>

        </header>

        <div class="container">
            <h1>Transforme seu <br> treino em uma <br> <span class="evolucao">evolução épica</span> </h1>
        </div>

        <h2 class="saudavel">Ganhe XP, suba de nível e evolua com <br> acompanhamento profissional.</h2>

        <button class="começar">Começar minha jornada</button> <br><br>



        <div class="seçao">

            <div class="xp">
                <img src="../static/fitness//imagens/imagens/sliders.svg">
                <h1>Evolução por XP</h1>
                <h2 class="treino"><br>Cada treino gera progresso visivel. Ganhe XP,<br> suba de nível e acompanhe sua evolução de forma clara e motivadora.</h2>
            </div>
            <div class="medida">
                <img src="../static/fitness//imagens/imagens/user.svg">
                <h1>Treino sob medida</h1>
                <h2 class="plano"><br>Planos adaptados ao seu nível, objetivo e <br> acompanhamento profissional <br> para manter sua evolução no caminho certo.</h2>
            </div>

            <div class="motivacao">
                <img src="../static/fitness//imagens/imagens/zap.svg">
                <h1>Motivação que não acaba</h1>
                <h2 class="missoes"><br>Missões, desafios e suporte continuo para você <br> manter consistência, vencer a rotina e continuar <br> evoluindo.</h2>
            </div>
        </div>
    </section>

    <section class="parte2">

        <h1 class="motivo">Porque usar o <span>D&D</span> Fitness?</h1>

        <div class="seçao2">
            <div class="progresso">
                <img src="../static/fitness//imagens/imagens/progresso.png">
                <h1>Progresso real</h1> <br>
                <h2 class="acompanhe">Acompanhe sua evolução de forma clara e objetiva. Cada treino concluido representa um avanço real, com métricas que mostram seu desempenho e resultados ao longo do tempo.</h2>
            </div>

            <div class="inteligente">
                <img src="../static/fitness//imagens/imagens/mente.png">
                <h1>Treino Inteligente</h1> <br>
                <h2 class="personalizado">Treinos personalizados de acordo com seu nível, objetivo e evolução. Nada genérico, você segue um plano estratégico pensado para gerar resultados reais.</h2>
            </div>
        </div>

        <br> <br>
        <div class="seçao3">
            <div class="sistema">
                <img src="../static/fitness//imagens/imagens/joystick.png">
                <h1>Sistema de XP</h1> <br>
                <h2 class="transforme">Transforme seu esforço em evolução. A cada treino concluído, você ganha XP, sobe de nível e acompanha seu progresso de forma motivadora e dinâmica.</h2>
            </div>

            <div class="constante">
                <img src="../static/fitness//imagens/imagens/fire.png">
                <h1>Motivação constante</h1> <br>
                <h2 class="mantenha">Mantenha o foco todos os dias com desafios, metas e acompanhamento contínuo. Aqui, a motivação não depende de vontade, ela faz parte do sistema.</h2>
            </div>
        </div>
    </section>

    <section class="seçao4">

        <h1 class="funciona">Como funciona?</h1> <br><br>

        <div class="text1">

            <div class="conta">
                <div class="alinhar">
                    <img src="../static/fitness/imagens/imagens/1.png">
                    <h1>Crie sua conta</h1> <br>
                </div> <br>
                <h2>Comece sua jornada no <br> D<span>&</span>Fitness e evoulua com propósito.</h2>
            </div>

            <div class="objetivo">
                <div class="alinhar">
                    <img src="../static/fitness/imagens/imagens/2.png">
                    <h1>Defina seu objetivo</h1> <br>
                </div> <br>
                <h2>Escolha seu foco e defina onde você quer chegar com seu treino.</h2>
            </div>

        </div>

        <div class="text2">

            <div class="receba">
                <div class="alinhar">
                    <img src="../static/fitness//imagens/imagens/3.png">
                    <h1>Receba seu treino</h1> <br>
                </div> <br>
                <h2>Receba um plano personalizado de acordo com seu nível e objetivo.</h2>
            </div>

            <div class="ganhe">
                <div class="alinhar">
                    <img src="../static/fitness//imagens/imagens/4.png">
                    <h1>Ganhe XP</h1> <br>
                </div> <br>
                <h2>Complete desafios, treinos e acumule XP para subir de nível constantemente.</h2>
            </div>

        </div>
    </section>

    <section class="seçao5">

        <h1 class="ultimo">Tipos de treino</h1>

        <div class="treino-container">
            <div class="hipertrofia">
                <img src="../static/fitness//imagens/imagens/musculo.png">
                <h1>HIPERTROFIA</h1> <br>
                <h2 class="ultima-frase">Foco em crescer músculo forte.</h2>
            </div>

            <div class="emagrecer">
                <img src="../static/fitness//imagens/imagens/burn.png">
                <h1>HIIT</h1> <br>
                <h2 class="ultima-frase">Foco em queima de gordura rápida.</h2>
            </div>
        </div>

        <div class="treino-container2">
            <div class="funcional">
                <img src="../static/fitness//imagens/imagens/bolt.png">
                <h1>FUNCIONAL</h1> <br>
                <h2 class="ultima-frase">Foco em corpo completo.</h2>
            </div>

            <div class="resistencia">
                <img src="../static/fitness/imagens/imagens/cronometro.png">
                <h1>RESISTÊNCIA</h1> <br>
                <h2 class="ultima-frase">Foco em aguentar mais esforço.</h2>
            </div>
        </div>
    </section>

    <footer>Pronto para <span>evoluir</span>?</footer>
    <button id="btnTopo">↑</button>
</body>
<script src="/static/fitness/js/scrip.js"></script>

</html>